<div class="mdui-typo-display-1 mdui-text-center">分类：<%= page.category %></div>
<% page.posts.each(post => { %>
    <%- partial('partials/post-entry', { post }) %>
<% }); %>

<!-- Paginator in category.ejs -->
<%- partial('partials/paginator') %>