<div class="mdui-typo-display-1 mdui-text-center">标签：<%= page.tag %></div>
<% page.posts.each(post => { %>
    <%- partial('partials/post-entry', { post }) %>
<% }); %>

<!-- Paginator in tag.ejs -->
<%- partial('partials/paginator') %>