<% if (theme.comment.livere.enable && theme.comment.livere.uid) { %>
    <div id="lv-container" data-id="city" data-uid="<%= theme.comment.livere.uid %>">
        <script>((e,t)=>{let n,c=e.getElementsByTagName(t)[0];"function"!=typeof LivereTower&&(n=e.createElement(t),n.src="https://cdn-city.livere.com/js/embed.dist.js",n.async=!0,c.parentNode.insertBefore(n,c))})(document,"script")</script>
    </div>
<% } %>