<div id="akarin-home-banner-wrapper" class="mdui-text-center akarin-util-bg-cover">
    <div id="akarin-home-banner" class="mdui-m-x-1 mdui-p-a-2 akarin-util-rounded-9">
        <div class="mdui-typo-display-1 mdui-text-color-white-text">
            <%- config.title %>
        </div>
        <div class="mdui-divider-light mdui-m-y-1"></div>
        <div class="mdui-typo-subheading mdui-text-color-white-text akarin-util-opacity-quarter">
            <%- Array.isArray(theme.uiux.slogan) ? theme.uiux.slogan.join('<br>') : theme.uiux.slogan %>
        </div>
    </div>
</div>