<% if (theme.uiux.top.enable) { %>
    <% if (theme.uiux.top.style === 'akarin') { %>
        <picture id="akarin-top" title="返回顶部">
            <source srcset="<%= url_for('/img/top.avif') %>" type="image/avif">
            <source srcset="<%= url_for('/img/top.webp') %>" type="image/webp">
            <img src="<%= url_for('/img/top.png') %>">
        </picture>
    <% } else if (theme.uiux.top.style === 'fab') { %>
        <button
            id="akarin-top"
            title="返回顶部"
            class="mdui-fab mdui-fab-mini mdui-fab-fixed mdui-fab-hide mdui-color-theme-accent mdui-ripple"
        ><i class="mdui-icon material-icons">keyboard_arrow_up</i></button>
    <% } %>
<% } %>
